* {
    box-sizing: border-box;
  }

.no-overflow {
    overflow:hidden;
}
.sticky-header {
    height: 93px;
    position:fixed;
    top:3%;
    padding-bottom: 55px;
    max-width: 1220px;
    width:100%;
    
    z-index:10;
  
}

/* menu bar */
#logo {
    border: 1.5px solid rgb(117, 116, 116);
    
    width:37px;
}
#logo > a {
    /* font-family: 'Saira Stencil One', cursive; */
    font-family: 'Blinker', sans-serif;
    font-size: .7em;
    font-weight: 600;
    
}

#playlists {
    
}
#playlists p{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    color: rgb(58, 57, 57);
 
}

#mynav {
  
}

/* Home content */
.homeContent {
  margin-top:90px;
} 

#office-photo{
  float: left;
}
#office-photo > img {
 /* max-height: 550px; */
 
 padding-right: 30px; 
  
}

#home-right-content {
  margin-top:70px;
  margin-bottom:30px;
  
}

#home-right-content  h1 {
    font-family: 'PT Serif', serif;
    font-size:55px;
    font-weight: 500;
    
}
#about {
  
}
#about img{
  height:150px;
  width: 20px;
  margin-left: 20px;
  margin-top:30px;
}

#home-right-content p {
  margin-top:30px;
  font-size: 17px;
  margin-right: 20px;
  color:rgb(105, 102, 102);
}
 
#home-right-content p span {
  color:rgb(60, 134, 60);
}
  
  /* Media query */

  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  } 

  @media screen and (max-width:770px) {
    .no-overflow {
      overflow:auto;
    }

    
     #office-photo >img {
       /* width: 100%;
       height: auto; */
     }
  }

